In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
520,tt0277371,16000000,66468332,Not Another Teen Movie,Chyler Leigh|Chris Evans|Jaime Pressly|Eric Ch...,Joel Gallen,They served you Breakfast. They gave you Pie. ...,"On a bet, a gridiron hero at John Hughes High ...",89,Comedy,Original Film|Columbia Pictures Corporation|Ne...,12/7/2001,5.3,2001
1544,tt0365830,22000000,13405595,Tenacious D in The Pick of Destiny,Jack Black|Kyle Gass|Ronnie James Dio|Tim Robb...,Liam Lynch,An epic quest. A magical guitar pick. A chance...,"In Venice Beach, naive Midwesterner JB bonds w...",93,Comedy|Music,Red Hour Films,11/22/2006,6.2,2006
257,tt1259571,50000000,709827462,The Twilight Saga: New Moon,Kristen Stewart|Robert Pattinson|Taylor Lautne...,Chris Weitz,The Next Chapter Begins.,"Forks, Washington resident Bella Swan is reeli...",130,Adventure|Fantasy|Drama|Romance,Summit Entertainment|Maverick Films|Imprint En...,3/15/2009,5.6,2009
1314,tt0363771,180000000,748806957,"The Chronicles of Narnia: The Lion, the Witch ...",William Moseley|Anna Popplewell|Skandar Keynes...,Andrew Adamson,Evil Has Reigned For 100 Years...,"Siblings Lucy, Edmund, Susan and Peter step th...",143,Adventure|Family|Fantasy,Walt Disney|Walden Media,12/7/2005,6.5,2005
1724,tt0890870,10000000,139352633,Saw IV,Tobin Bell|Scott Patterson|Costas Mandylor|Bet...,Darren Lynn Bousman,It's A Trap,Jigsaw and his apprentice Amanda are dead. Now...,93,Horror|Thriller|Crime,Lions Gate Films|Twisted Pictures,10/25/2007,5.8,2007

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

data['profit'] = data.revenue - data.budget
data['release_month'] = data.release_date.apply(lambda x: str(x).split('/')[0])
data['title_len'] = data.original_title.apply(lambda x: len(str(x)))
data['description_word_count'] = data.original_title.apply(lambda x: len(str(x).split(' ')))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
# +
answers['1'] = data[data.budget == data.budget.max()].original_title.to_string()

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения
data.sort_values(['budget'], ascending=False).iloc[0].original_title

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [9]:
# +
answers['2'] = data[data.runtime == data.runtime.max()].original_title.to_string()

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
# +
answers['3'] = data[data.runtime == data.runtime.min()].original_title.to_string()

# 4. Какова средняя длительность фильмов?

In [11]:
# +
answers['4'] = data.runtime.mean()

# 5. Каково медианное значение длительности фильмов?

In [12]:
# +
answers['5'] = data.runtime.median()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
# лучше код получения столбца profit вынести в Предобработку что в начале
# +
answers['6'] = data[data.profit == data.profit.max()].original_title.to_string()

# 7. Какой фильм самый убыточный?

In [14]:
# +
answers['7'] = data[data.profit == data.profit.min()].original_title.to_string()

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:
# +
answers['8'] = len(data[data.revenue > data.budget].index)

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [16]:
# +
answers['9'] = data.query('release_year == 2008').query('profit == profit.max()').original_title.to_string()

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [17]:
# +
answers['10'] = data.query('release_year >= 2012 & release_year <= 2014').query('profit == profit.min()').original_title.to_string()

# 11. Какого жанра фильмов больше всего?

In [18]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
# +
answers['11'] = pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts(ascending=False).index[0]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [19]:
# +
genres_data = pd.Series(data.query('profit > 0')['genres'].str.cat(sep='|').split('|'))
answers['12'] = genres_data.value_counts(ascending=False).index[0]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [20]:
#+
data_director = data
data_director['director'] = data_director.director.apply(lambda x: str(x).split('|'))
data_director = data_director.explode('director')
answers['13'] = data_director.groupby('director')['revenue'].sum().sort_values(ascending=False).index[0]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [21]:
# У меня упорно получается Томас П. Андерсон
# -
data_director_action = data[data.genres.str.contains('Action')]
data_director_action['director'] = data_director_action.director.apply(lambda x: str(x).split('|'))
data_director_action = data_director_action.explode('director')
answers['14'] = data_director_action['director'].value_counts().sort_values(ascending=False).index[0]

/home/dj/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [22]:
# +
data_2012_by_actors = data.query('release_year == 2012')
data_2012_by_actors['actor'] = data_2012_by_actors.cast.apply(lambda x: str(x).split('|'))
data_2012_by_actors = data_2012_by_actors.explode('actor')

answers['15'] = data_2012_by_actors.groupby('actor')['revenue'].sum().sort_values(ascending=False).index[0]

/home/dj/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [23]:
# +
data_high_budget = data.query('budget > budget.mean()')
data_high_budget['actor'] = data_high_budget.cast.apply(lambda x: str(x).split('|'))
data_high_budget = data_high_budget.explode('actor')
answers['16'] = data_high_budget['actor'].value_counts(ascending=False).index[0]

/home/dj/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [24]:
# +
list_genres = data[data.cast.str.contains('Nicolas Cage')]['genres'].str.cat(sep = '|').split("|")
answers['17'] = pd.Series(list_genres).value_counts(ascending=False).index[0]

# 18. Самый убыточный фильм от Paramount Pictures

In [25]:
answers['18'] = data[data.production_companies.str.contains('Paramount Pictures')].query('profit == profit.min()').original_title.to_string()

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [26]:
answers['19'] = data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).index[0]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [27]:
warner_data = data[data.production_companies.str.contains('Warner Bros')]
answers['20'] = warner_data.groupby('release_year')['profit'].sum().sort_values(ascending=False).index[0]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [28]:
answers['21'] = data['release_month'].value_counts(ascending=False).index[0]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [29]:
answers['22'] = data[data.release_month.isin(['6', '7', '8'])]['release_month'].count()

# 23. Для какого режиссера зима – самое продуктивное время года?

In [30]:
data_director_winter = data[data.release_month.isin(['10', '11', '12'])]
data_director_winter['director'] = data_director_winter.director.apply(lambda x: str(x).split('|'))
data_director_winter = data_director_winter.explode('director')
answers['23'] = data_director_winter['director'].value_counts(ascending=False).index[0]

/home/dj/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [31]:
answers['24'] = data[data.title_len == data.title_len.max()]['production_companies']

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [32]:
data_by_companies = data
data_by_companies['production_companies'] = data_by_companies.production_companies.apply(lambda x: str(x).split('|'))
data_by_companies = data_by_companies.explode('production_companies')
answers['25'] = data_by_companies.groupby('production_companies').mean().sort_values(['description_word_count'], ascending=False).index[0]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [33]:
vote_title_data = data[['vote_average', 'original_title']]
answers['26'] = vote_title_data.sort_values(['vote_average'], ascending=False).head(int(len(data)*0.01))

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [34]:
actor_pairs = {}
cast_data = data.cast.apply(lambda x: str(x).split('|'))
for actors in cast_data:
    for value in list(combinations(actors, 2)):
        index = ' & '.join(value)
        actor_pairs.setdefault(index, 0)
        actor_pairs[index] += 1
answers['27'] = max(actor_pairs, key=actor_pairs.get)

ВАРИАНТ 2

# Submission

In [35]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723    Pirates of the Caribbean: On Stranger Tides',
 '2': '1157    Gods and Generals',
 '3': '768    Winnie the Pooh',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': '239    Avatar',
 '7': '1245    The Lone Ranger',
 '8': 1478,
 '9': '599    The Dark Knight',
 '10': '1245    The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': "['Paul W.S. Anderson']",
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925    K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': '9',
 '22': 450,
 '23': "['Clint Eastwood']",
 '24': 1448    Twentieth Century Fox Film Corporation|Four By...
 Name: production_companies, dtype: object,
 '25': 'Four By Two Productions',
 '26':       vote_average                                 original_title
 599            8.1                                The Dark Knight
 118            8.0                                   Interstellar
 125            8.0                             The Imitation Game
 9              8.0                                     Inside Out
 34             8.0                                           Room
 1183           7.9                        The Wolf of Wall Street
 128            7.9                                      Gone Girl
 1191           7.9                               12 Years a Slave
 119            7.9                        Guardians of the Galaxy
 1081           7.9  The Lord of the Rings: The Return of the King
 1800           7.9                                        Memento
 370            7.9                                      Inception
 872            7.9                                    The Pianist
 138            7.9                       The Grand Budapest Hotel
 1188           7.8                                            Her
 28             7.8                                      Spotlight
 124            7.8                                     Big Hero 6
 177            7.8                         The Fault in Our Stars,
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)